body {
    font-family: 'Ubuntu', sans-serif;
}

main {
    margin-top: 0;
    padding-top: 0;
}
.table_foot {
    background-color: tan;
    font-weight: bolder;
    font-size: .85rem;
}

.caption {
    background-color: rgb(236, 232, 159);
    font-weight: bolder;
    color:black;
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 10px 12px 10px #999999;
}


table{
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px #b5b5b5;
    text-align: center;
    
  }

th, td{
    padding:0.5rem;
}

.table_head {
    background-color: tan;
    color: black;
    font-size: 1rem;
}

.novem {
    background-color: rgb(2, 36, 10);
}

tr:nth-child(even){
    background-color: #2fb6ba;
    color: white;
}

tr:nth-child(odd){
    background-color: #c0e7ec;
}

.black-friday {
    font-style: italic;
}
