@media only screen and (min-width:35em){
    
    nav ul.open{ 
        display: flex;
        max-width: 100%;
        width:100%;
        text-align:right;
        margin-right: 1rem;
        
    }
    
    .button_header{
        justify-content: flex-end;
        align-items:center;
    }

    .first_header{
        display:flex;
        justify-content: flex-start;
        
        
        /* margin: 10% */
    }
    .first_header picture img{
        margin-top: 5%;
        margin-left: 20%;
        width: 80px; 
    }

    .first_header .header_text{
        flex-direction: column;
        margin-top: .1rem;
        margin-left: 7rem;
        font-size: 1.5em;
        /* margin-top: 30%; */
    }
    
    
    .second_header {
        display:flex;
        flex-direction: row;
        height: 5vh;
        align-items: center;
        justify-content: space-evenly;
    }
    /* .header_image a img{ */
        /* margin-left:20%; */
    /* } */
    .header_text p{
        font-size: 30px;
        margin-left: -30%;
    }
    
    #banner_hide{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav ul li a{
        border:none;
    }



    /* styling for the main page of the discovery page for medium size */

    #discovery{
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 1em;
    
    }

    .header_disc{
        grid-column: span 2;
        grid-row: 1/2;
        align-items: center;
        text-align: center;

    }
    .overview{
        grid-column:span 2;
        grid-row:auto;
        
    }

    /* styling for the footer medium */
    
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .first_footer{
        grid-column: 1/2;
        grid-row: auto;
        height:auto;

    }
    .second_footer{
        grid-column: 2/3;
        grid-row:auto;
        border:none;
        transform: translate(10%, 40%);
    }
    .third_footer{
        grid-column: span 2;
        grid-row: auto; 
        border-top: 2px solid white;
        
    }
    .first_footer picture img{
        justify-items: center;
    }

}