
body,
footer {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  
}
 
footer{
    border-top: 1px solid black;
    font-size: large;
    margin-top: 1rem;
    color: rgb(84, 3, 3);
}

main{
    background-color: #eee;
    padding: 1rem;
    box-shadow: 10px 6px 10px #999;
    font-size: 1rem;
    margin:1rem auto;
    vertical-align:middle;
    max-width: fit-content;
}

main h2{
    color: green;
}
