
header, footer{
    background-color: rgb(2,48,71);
    padding-bottom: .5rem;
    padding-top: .9rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color:white;
    box-shadow: 3px 3px 3px 3px grey;
    
}

#hero h2{
    color: rgb(177, 12, 12);
}
#hero p{
    font-family: 'Merriweather', serif;
}

/* styling for the header */
.button_header{
    display:flex;
    justify-content:flex-end;
    margin: 0px;
}


.first_header{
    display:flex;
    justify-content: space-around;
    align-items: start;
    margin: .5rem;
    color:white;

}

.first_header picture img{
    margin-top: -30%;
    margin-left: -40%;
    width: 80px; 
}


.second_header{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    color: rgba(169, 239, 40, 0.9);
    font-size: 18px;
}

.header_text{margin-top: -5%;}
.header_text h2{ 
    color: rgba(169, 239, 40, 0.9);
    margin-left: -15%;
}
.header_text p{
    color:tan;
    margin-top: -20px;
    margin-left: -45%;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    /* transform: translate(0%, -70%); */
}


.header_image a{text-decoration: none;}
.header_image a img{
    width: 35px;
    border-radius: 30px;
}


nav ul  {
    display:none;}
nav ul.open{ 
    display: block;
    max-width: 100%;
    width:340px;
    text-align:center;
    margin-right: 1rem;
}


nav ul li{
    background-color: rgb(2,48,71);
    list-style-type: none;
    
    /* display: none; */
}

nav ul li a{
    display: block;
    padding: 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.7)
}


/* nav ul li.active a{ */
    /* background-color: #fb8500; */
    /* color: white; */
    /* font-size: 1rem; */
/* } */

nav ul li a:hover{
    background-color: #fb8500;
    color:white;
    font-size: 1.5rem;
    font-weight: 2rem;
    border-top: 1px solid rgba(0,0,0,0.7)
}

nav button{
    margin:.2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}


/* styling for the main part of the body */
#hero{
    display:block;

    
}
#hero .call, .event, .weather, .news, .join, .spotlight {
    display:block;
    background-color: rgb(2,48,71,0.4);
    margin: .7rem;
    height: auto;
    border: 1px solid black;
    box-shadow: 3px 3px grey;
}


#hero .spotlight{
    padding: 1rem;
    
}
.event, .weather, .news, .join, .spotlight{
    text-align: center;
    font-size: 1rem;
}


.spotlight_1, .spotlight_2, .spotlight_3{
    display:block;
    background-color: rgb(2,48,71, 0.2);
    border: 0.1px solid rgba(0,0,0,0.4);
    margin-top: .5rem;
    height: auto;
    padding: .2rem;
    text-align: center;
}
.spotlight_3, .join{
    display: none;
}

#hero .call{
    position:relative;
    height: 40vh;
}

#hero .call picture img{
    width:100%;
    height: 100%;
}

#hero .rel_call{
    position: absolute;
    top:10px;
}

#hero .rel_call h2{
    /* color:rgba(169, 239, 40, 0.8); */
    /* color:tan; */
    color:rgb(2,48,71);
    margin-left: 20px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}
.rel_call button{
    padding:1rem;
    border-radius:3rem;
    margin-left: 9rem;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
    font-size: 1rem;
}
.rel_call button a{
    text-decoration: none;
    color: rgb(210, 180, 100, 0.9);
}
.rel_call button a:hover{
    color:white;
}





/* styling for the footer */
footer .first_footer, .second_footer, .third_footer{
    display: block;
    text-align: center;
    padding: 2%;

    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.second_footer, .third_footer{border-top: 1px dashed white;}
.second_footer nav a img{
    border-radius: 40px;
    width: 30px;
    text-decoration: none;
    
}
.first_footer picture img{
    width:60px;
}

.second_footer p.phone{
    color:#fb8500;
}